.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  width: 50%;
  margin: 2% auto;
}

#root > div > div.makeStyles-grow-1 > header > div > button > span.MuiIconButton-label > a > svg > path {
  color: white;
}

#root > div > div.makeStyles-grow-1 > header > div {

background-color: #333;
}

#root > div > div.makeStyles-grow-1 > header > div > div.makeStyles-search-4 {
  border-radius: 50px;
}